{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}
{% block main %}
<section class="py-5 masthead" style="display:inline-table">
     <!-- Форма фильтров -->
  
    <div class="container px-4 px-lg-5 mt-5">
        <div class="dropdown mb-2">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Фильтры
            </button>
    
            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                    <input type="hidden" name="q" value="request.GET.q">
                    <label class="form-check-label" for="flexCheckDefault">
                        Товары по акции
                    </label>
                </div>
                <p class="text-white mx-3 mt-3">Сортировать:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        По умолчанию
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                    <label class="form-check-label" for="flexRadioDefault2">
                        От дешевых к дорогим
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                    <label class="form-check-label" for="flexRadioDefault3">
                        От дорогих к дешевым
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
            </form>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% comment %} {% tag_products as products %} {% endcomment %}
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                {% if  product.discount %}
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                {% endif %}
                    <!-- Product image-->
                {% if product.image %}
                    <img class="card-img-top" style="  height: inherit; object-fit: cover;" src="{{ product.image.url }}" alt="{{product.name}}" />
                {% else %}
                    <img class="card-img-top" style="  height: inherit; object-fit: cover;" src="{% static "assets/img/not_found.png" %}" alt="..." />
                {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        {% if  product.discount%} 
                            <span class="text-muted text-decoration-line-through">{{product.price}} BYN</span>
                            <span>{{product.calc_discount}} BYN</span>
                        {% else %}
                            <span>{{product.price}} BYN</span>
                        {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url "goods:product" product.slug%}">Смотреть</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" style="background-color: black;
    margin-bottom: 0;">
    <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
      <a class="page-link" href="
    {% if products.has_previous %}
        ?page={{products.previous_page_number}}
    {% else %}
        #
      {% endif %}" tabindex="-1">Назад</a>
    </li>
    {% for page in products.paginator.page_range %}
        {% if  page >= products.number|add:-2 and page <= products.number|add:2 %}
            <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="page-item {% if not products.has_next %}disabled{% endif %}">
        <a class="page-link" href="
        {% if products.has_next %}
           ?page={{products.next_page_number}}
        {% else %}
            #
          {% endif %}">Вперед</a>
    </li>
  </ul>
</nav>

</body>
{% endblock main%}
{% block footer%}
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
       
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
{%endblock footer%}
