{% extends "main/base.html" %}
{% load static %}
{% block main %}
<section class="py-5 masthead">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for  product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                {% if product.image %}
                    <img class="card-img-top" style="  height: inherit; object-fit: cover;" src="{{ product.image.url }}" alt="..." />
                {% else %}
                    <img class="card-img-top" style="  height: inherit; object-fit: cover;" src="{% static "assets/img/not_found.png" %}" alt="..." />
                {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            от {{ product.price }} BYN
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url "goods:product" %}">Смотреть</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>
{% endblock main%}
{% block footer%}
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
       
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
{%endblock footer%}
